body {
  width: 71.42857%;
  background-color: #9E9E9E;
  font-family: Myriad-set-pro_text, sans-serif;
  color: #212121; }

.btn {
  width: 170px;
  height: 30px;
  display: inline-block;
  padding: 8px;
  margin: 0 4px;
  background-color: #673AB7;
  float: left;
  cursor: pointer; }
  .btn:hover {
    background-color: #3e2280;
    color: white; }
