@mixin border-radius($radius: 4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin margin($margin-top, $margin-right, $margin-bottom, $margin-left) {
  margin-top: $margin-top;
  margin-left: $margin-left;
  margin-bottom: $margin-bottom;
  margin-right: $margin-right;
}
@mixin bgImg($imgPath, $bgSize, $imgW, $imgH, $bgPos) {
      background-image: url($imgPath);
      background-position: $bgPos;
      background-repeat: no-repeat;
      background-size: $bgSize;
      width: $imgW;
      height: $imgH;
      float: left;
}
