$font-stack: Myriad-set-pro_text, sans-serif;

$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #9E9E9E;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$red: red;
$white: #fff;
$main-bg: $accent-color;

$breakpoint-960: 960px;
$breakpoint-tablet: 768px;
