@import "modules/variables";
@import "modules/mixins";

body {
  width: 960px;
  background-color: $divider-color;
  font-family: $font-stack;
  color: $primary-text-color;
  @include margin(0, auto, 0, auto);
}

section {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  border-bottom: 1px solid $divider-color;
}
