body {
  width: 960px;
  background-color: $divider-color;
  font-family: $font-stack;
  color: $primary-text-color;
  @include margin(0, auto, 0, auto);
}

section {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  border-bottom: 1px solid $divider-color;
}



@media (max-width: $breakpoint-960) {
  body {
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
  }
}
