nav#main-nav {
  width: 100%;
  height: 40px;
  display: block;
  line-height: 40px;
  background-color: $primary-color;
  @include border-radius();
    li {
      display: inline-block;
      list-style: none;
        a {
          text-decoration: none;
          color: $primary-color-text;
          padding: 0 16px;
          height: 40px;
          display: block;
          &:hover {
            background-color: $primary-color-dark;
          }
        }
        &.logo {
          @include bgImg('/images/logo-vt-gray.png', 24px, 40px, 40px, center center);
        }
    }
}
